html {
  scroll-behavior: smooth;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.speedometer{
    max-width: 500px;
    width: 100%;
    height: 100%;
    max-height: 300px;
}